/* pagination */
body {
    font-family: Arial, sans-serif;
  }
  
  section {
    background: #f7f7f7;
    padding: 20px;
    display: grid;
    gap: 1em;
  }
  
  .content {
    margin: 20px;
    display: grid;
    gap: 20px;
  }
  
  p, h2 {margin: 0;}
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 1px;
    border: none;
  }
  
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .pagination button.active {
    color:#fff !important; 
    background-color:#000000 !important
  }

  a {
    color:#fff !important; 
    background-color:#d3c6c6 !important
  }
  
  a:hover {
    color:#fff !important; 
    background-color:#af1111 !important
  }
  

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}